body {
background-color: pink;
margin: 0;
padding-top: 10%;
}
.wrap {
    margin: auto;
    width: 20%;
}
input {
    width: 60%;
}
.total{
    width: 15%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#res {
    margin-bottom: 10%;
}

#btn {
    background: purple;
    border: none;
    color: white;
    margin-left: 15%;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.li {
    padding: 4px 8px;
    background: white;
    border: 1px solid red;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    width: 85%;
    text-transform: capitalize;
}

.li-active {
    color: darkgrey;
    text-decoration: line-through;
    background: black;
}

.li-active .btn {
    color: darkgrey;
    text-decoration: line-through;
    background: black;
    
}